<div class="container">
    <div class="headerBar">
        <img class="Logo" src="../../assets/image4.svg" />
        <div class="name">EcoQuest</div>
    </div>

    <input type="text" placeholder="Search" class="input-box">
   
    <div style="width: 131px; height: 47px; left: 1170px; top: 144px; position: absolute">
        <button class="signin-button">Sign In</button>
    </div>

    <div style="width: 131px; height: 47px; left: 1330px; top: 144px; position: absolute">
        <button class="signup-button">Sign Up</button>
    </div>

    <div class="menu">Menu</div>
    <div class="about">About Us</div>
    <div style="left: 1130px; top: 146px; position: absolute; color: #78A121; font-size: 25px; font-family: Arial; font-weight: 900; word-wrap: break-word">
        |</div>
    <div style="width: 88.83px; height: 29px; left: 848px; top: 153px; position: absolute">
        <div style="width: 20.83px; height: 17.22px; left: 68px; top: 6px; position: absolute">
            <div  style="left: 35px; top: 2.61px; position: absolute; transform: rotate(-31.08deg); transform-origin: 0 0; color: #78A121; font-size: 15px; font-family: Arial; font-weight: 400; word-wrap: break-word">
                \</div>
            <div style="left: 50.50px; top: 0px; position: absolute; transform: rotate(30deg); transform-origin: 0 0; color: #78A121; font-size: 15px; font-family: Arial; font-weight: 400; word-wrap: break-word">
                /</div>
        </div>
    </div>

</div>