<div class="container">
  <img src="/assets/golden-hearts-background.avif" class="background" alt="">
  <img data-layer="image 5" class="Image5"
    style="width: 93px; height: 88px; left: 24px; top: 30px; position: absolute; border-radius: 160px"
    src="/assets/image4.svg" />
  <!-- <div data-layer="Ellipse 1" class="Ellipse1"></div> -->
  <!-- <div data-layer="Ellipse 2" class="Ellipse2"></div> -->
  <div data-layer="Ellipse 3" class="Ellipse3"></div>
  <div data-layer="Ellipse 4" class="Ellipse4"></div>
  <div data-layer="Ellipse 5" class="Ellipse5"></div>
  <div data-layer="Ellipse 6" class="Ellipse6"></div>
  <!-- <img data-layer="tree-with-thin-branches-covered-by-leaves 1" class="TreeWithThinBranchesCoveredByLeaves1" style="width: 597px; height: 614px; left: -153.86px; top: 445px; position: absolute; transform: rotate(7deg); transform-origin: top left" src="https://placehold.co/597x614" /> -->
  <!-- <img data-layer="tree-with-thin-branches-covered-by-leaves 4" class="TreeWithThinBranchesCoveredByLeaves4" style="width: 578px; height: 563px; left: 944px; top: 662px; position: absolute" src="https://placehold.co/578x563" /> -->
  <!-- <img data-layer="tree-with-thin-branches-covered-by-leaves 2" class="TreeWithThinBranchesCoveredByLeaves2" style="width: 578px; height: 563px; left: 1188px; top: 238px; position: absolute; border-radius: 37px" src="https://placehold.co/578x563" /> -->
  <!-- <img data-layer="tree-with-thin-branches-covered-by-leaves 3" class="TreeWithThinBranchesCoveredByLeaves3" style="width: 578px; height: 563px; left: -231px; top: -63px; position: absolute" src="https://placehold.co/578x563" /> -->
  
  <img data-layer="tree-with-thin-branches-covered-by-leaves 4" class="TreeWithThinBranchesCoveredByLeaves4" style="width: 470px; height: 500px; left: -45px; top: -120px; position: absolute; transform: rotate(40deg); transform-origin: top left; overflow:hidden;" src="/assets/branchesrightlogin.png" />
  <img data-layer="tree-with-thin-branches-covered-by-leaves 3" class="TreeWithThinBranchesCoveredByLeaves3" style="width: 470px; height: 430px; right: -100px; top: 410px; position: absolute; transform: rotate(-90deg); transform-origin: top left" src="/assets/branchesrightlogin.png" />

  <div data-layer="OUR MISSION" class="OurMission">OUR MISSION</div>
  <div class="OurMissionText">Welcome to EcoQuest, where reducing your carbon footprint <br />becomes an exciting
    journey! At EcoQuest, we believe that small <br />actions can lead to big changes. Our mission is to empower
    <br />individuals and communities to make environmentally conscious <br />choices through engaging quests and fun
    challenges. Each quest <br />is designed to educate, inspire, and motivate you to adopt sustainable habits,
    from reducing waste to conserving energy. By completing challenges, you not only contribute to a healthier
    planet but also earn rewards and recognition for your efforts. Join us on this adventure towards a
    greener future and discover how impactful and enjoyable living sustainably can be. Together, we can make
    a difference, one quest at a time.
  </div>
</div>